footer {
	border-top:1px solid $footer-border;
	margin-top:$footer-top-margin;
	background:$footer-bg;
	color:$footer-color;
	padding: 0;
	@media (min-width: $screen-sm){
		height:$footer-height + $footer-vert-padding + $footer-vert-padding;
		padding:$footer-vert-padding 0;
	}
	.company {
		@include font-bold;
		margin-left:5px;
	}
	> ul {
		margin:0;
		padding:0;
		> li {
			a {
				display: block;
				padding: 10px;
				color: $gray;
			}
		}
	}
}
