header {
	background:white;
	.secondary-nav {
		float:right;
		list-style:none;
		margin:0;
		padding:0;
		li {
			float:left;
			a {
				display:block;
				line-height:32px;
				padding:0 10px;
			}
		}
	}
}

.search-bar {
	float:right;
	position:relative;
	button {
		-webkit-appearance:none;
		background:none;
		border:0;
		font-size:24px;
		position:absolute;
		right:0;
		top:-3px;
	}
}
