@mixin font-smoothing {
	-webkit-font-smoothing:antialiased;
					font-smoothing:antialiased;
						 font-smooth:always;
}

// Import the fonts in .eot,.woff,.ttf, and .svg formats
@include font-face(Roboto, '../fonts/roboto-regular');
@include font-face(Roboto-Light, '../fonts/roboto-light');
@include font-face(Roboto-Thin, '../fonts/roboto-thin');
@include font-face(Roboto-Medium, '../fonts/roboto-medium');
@include font-face(Roboto-Bold, '../fonts/roboto-bold');
@include font-face(Roboto-Condensed, '../fonts/roboto-condensed');

// Set a variable name to be called in mixins
$font-regular:   "Roboto", sans-serif;
$font-light:     "Roboto-Light", sans-serif;
$font-thin:      "Roboto-Thin", sans-serif;
$font-medium:    "Roboto-Medium", sans-serif;
$font-bold:      "Roboto-Bold", sans-serif;
$font-condensed: "Roboto-Condensed", sans-serif;

@mixin font-regular {
	font-family:$font-regular;
	font-weight:400;
}
@mixin font-light {
	font-family:$font-light;
	font-weight:400;
}
@mixin font-thin {
	font-family:$font-thin;
	font-weight:400;
}
@mixin font-medium {
	font-family:$font-medium;
	font-weight:400;
}
@mixin font-bold {
	font-family:$font-bold;
	font-weight:400;
}
@mixin font-condensed {
	font-family:$font-condensed;
	font-weight:400;
}

