
.list {
	@include ul-reset;
	&.horizontal {
		@include display(flex);
		@include flex-direction(row);
		> li {
			@include align-items(stretch);
			width:100%;
		}
	}
	&.separated {
		> li {
			float:left;
			+ li {
				&:before {
					content:"|";
					color:lighten(white,.5);
					margin:0 10px;
				}
			}
			> a {display:inline-block;}
		}
	}
}
