.panel-heading {
	.panel-toggle {
		@include clearfix;
		h4 {float:left}
		i.fa {
			float:right;
			&:before {content:"\f077"}
		}
		&.collapsed i.fa:before {content:"\f078"}
	}
}

.section-block {
	margin:2rem 0;
	&.blank {
		padding:4rem 0;
	}
	&.primary {
		background:$primary-color;
		color:white;
		padding:6rem 0;
	}
	&.secondary {
		background:$secondary-color;
		padding:6rem 0;
	}
	&.third {
		background:$third-color;
		padding:6rem 0;
	}
	&.dark-gray {
		background:$text-color;
		color:white;
		padding:6rem 0;
	}
	&.gray {
		background:$gray-lighter;
		color:$gray;
		padding:6rem 0;
	}
	h1 {
		@include font-light;
		margin-top:0;
		margin-bottom:4rem;
	}
	h3 {
		margin-top:0;
		margin-bottom:2rem;
		@include font-light;
	}
}


